@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F2;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}

.card {
  min-height: 420px;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-title {
  font-size: 4rem;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1px;
}
.card-description {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  line-height: 3rem;
}
.card .btn {
  width: 60%;
  padding: 1.6rem 0.5rem;
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3rem;
  outline: none;
}
.card .btn:hover {
  transition: 400ms;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: #FFF;
}
.card img {
  width: 30%;
}

.sedans {
  background-color: #E28525;
  border-radius: 1rem 1rem 0 0;
}
.sedans .btn {
  border: 1px solid #E28525;
  color: #E28525;
}

.suvs {
  background-color: #016972;
}
.suvs .btn {
  border: 1px solid #016972;
  color: #016972;
}

.luxury {
  background-color: #00403F;
  border-radius: 0 0 1rem 1rem;
}
.luxury .btn {
  border: 1px solid #00403F;
  color: #00403F;
}

.attribution {
  margin-top: 2rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.4rem;
  text-align: center;
}
.attribution p {
  margin: 1rem;
}
.attribution p a {
  color: #3e52a3;
}

@media (min-width: 767px) {
  body {
    height: 100vh;
  }

  .container {
    width: 80%;
    flex-direction: row;
  }

  .card {
    min-height: 480px;
  }
  .card-title {
    font-size: 3rem;
  }
  .card .btn {
    width: 80%;
    text-align: center;
    text-decoration: none;
  }
  .card img {
    width: 40%;
  }

  .sedans {
    border-radius: 1rem 0 0 1rem;
  }

  .luxury {
    border-radius: 0 1rem 1rem 0;
  }
}
@media (min-width: 1023px) {
  .card {
    padding: 4rem;
  }
  .card .btn {
    margin-top: 5rem;
  }
  .card-title {
    font-size: 4.2rem;
  }
  .card-description {
    margin-top: 2rem;
  }
  .card img {
    width: 35%;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1439px) {
  .container {
    width: 80%;
  }

  .card-title {
    font-size: 4.6rem;
  }
  .card-description {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  .card .btn {
    width: 60%;
    font-size: 1.8rem;
  }
  .card img {
    width: 30%;
  }
}